.card {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 4px;
  padding: 3rem 4rem;
  overflow: hidden;
  background: var(--color-section-dark);
}

.card .form-control:last-of-type {
  margin-bottom: 3rem;
}

.card h5 {
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 0;
}