.button {
	font: inherit;
	padding: 0.5rem 1.5rem;
	/* border: 1px solid var(--color-body-text); */
	border: none;
	border-radius: 4px;
	background: var(--color-accent);
	color: var(--color-body-text);
	cursor: pointer;
	margin-right: 1rem;
	text-decoration: none;
	display: inline-block;
	width: 200px;
	font-size: 13px;
}

.button:focus {
	outline: none;
}

.button:hover,
.button:active {
	background: var(--color-links-hover);
	border-color: vaR(--color-links-hover);
	color: var(--color-background);
}

.button--inverse {
	background: var(--color-section-light);
	color: var(--color-background);
}

.button--inverse:hover,
.button--inverse:active {
	color: var(--color-background);
	background: var(--color-links-hover);
}

.button--danger {
	background: #830000;
	border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
	background: #f34343;
	border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
	background: #ccc;
	color: #979797;
	border-color: #ccc;
	cursor: not-allowed;
}

.button--small {
	font-size: 0.8rem;
}

.button--big {
	font-size: 1.5rem;
}
