.main-navigation__menu-btn {
	width: 2rem;
	height: 50%;
	background: transparent;
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 2rem;
	cursor: pointer;
}

.main-navigation__menu-btn span {
	display: block;
	width: 1.8rem;
	height: 2px;
	background: var(--color-body-text);
}

.main-navigation__title {
	color: var(--color-body-text);
	font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
	font-size: 18px;
}

.main-navigation__title a {
	text-decoration: none;
	color: var(--color-body-text);
	font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
	font-size: 18px;
}

.main-navigation__header-nav {
	display: none;
}

.main-navigation__drawer-nav {
	height: 100%;
}

@media (min-width: 768px) {
	.main-navigation__menu-btn {
		display: none;
	}

	.main-navigation__header-nav {
		display: block;
	}
}