.nav-links {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-links li {
	margin: 1rem;
}

.nav-links a {
	color: var(--color-body-text);
	text-decoration: none;
	padding: 0.5rem;
	margin: 0.75em;
	font-size: 16px;
	border-bottom: solid transparent 2px;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: solid red 2px;
}

.nav-links button {
	cursor: pointer;
	border: 1px solid var(--color-body-text);
	color: var(--color-body-text);
	background: transparent;
	padding: 0.5rem;
	font: inherit;
	font-size: 16px;
}

.nav-links img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.nav-links button:focus {
	outline: none;
}

.nav-links button:hover,
.nav-links button:active {
	background: #292929;
	color: white;
}

@media (min-width: 768px) {
	.nav-links {
		flex-direction: row;
	}

	.nav-links li {
		margin: 0 0.5rem;
	}

	.nav-links a {
		color: var(--color-body-text);
		text-decoration: none;
		font-size: 14px;
	}

	.nav-links img {
		width: 40px;
		height: 40px;
		border-radius: 100%;
	}

	.nav-links button {
		border: 1px solid var(--color-body-text);
		color: var(--color-body-text);
		background: transparent;
		font-size: 14px;
	}

	.nav-links button:hover,
	.nav-links button:active {
		background: var(--color-links);
		color: #292929;
	}
}
